#include <behaviors/rgbled_widget.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

// roBa 層號對照 moNa2（MOUSE/SCROLL 因驅動需求固定在 4/5）:
// moNa2: Default(0) SYM(1) NUM(2) MEDIA(3) BT(4)    MOUSE(5) SCROLL(6) VIM(7) DESKTOP(8)
// roBa:  Default(0) SYM(1) NUM(2) MEDIA(3) MOUSE(4) SCROLL(5) BT(6)    VIM(7) DESKTOP(8)
#undef ZMK_POINTING_DEFAULT_SCRL_VAL
#define ZMK_POINTING_DEFAULT_SCRL_VAL 200
#define MOUSE 4
#define SCROLL 5
#define VIM 7
#define DESKTOP 8

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
    require-prior-idle-ms = <150>;
};

&lt {
    tapping-term-ms = <200>;
    quick-tap-ms = <200>;
    flavor = "balanced";
};

// automouse 和 scroll 由 overlay 的 zip_temp_layer 和 input processor 處理

// 點擊滑鼠鍵時延長 MOUSE 層超時至 2 秒
&mkp_input_listener { input-processors = <&zip_temp_layer MOUSE 2000>; };

/ {
    combos {
        compatible = "zmk,combos";

        tab {
            bindings = <&kp TAB>;
            key-positions = <1 2>;    // W+E
            slow-release;
        };

        enter {
            bindings = <&kp ENTER>;
            key-positions = <18 19>;  // J+K
            slow-release;
        };

        input_switch {
            bindings = <&input_tap>;
            key-positions = <11 12>;  // S+D = 切換輸入法
            slow-release;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };

        arrow_operator: arrow_operator {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp MINUS &kp GREATER_THAN>;
            label = "ARROW_OPERATOR";
        };

        namespace_operator: namespace_operator {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp COLON &kp COLON>;
            label = "NAMESPACE_OPERATOR";
        };

        input_tap: input_tap {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp LC(SPACE)>;
            label = "INPUT_TAP";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        scroll_up_down: behavior_sensor_rotate_mouse_wheel_up_down {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            tap-ms = <20>;
            bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;  // 反轉：配合 roBa encoder 接線方向
        };

        scroll_right_left: mouse_wheel_right_left {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_LEFT>, <&msc SCRL_RIGHT>;
            tap-ms = <20>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {  // Layer 0 - 完全對照 moNa2
            bindings = <
&kp Q             &lt DESKTOP W  &kp E           &kp R             &kp T                                                         &kp Y                   &kp U          &kp I      &kp O    &kp P
&kp A             &kp S          &kp D           &kp F             &kp G             &trans                &kp ESCAPE                       &kp H                   &kp J          &kp K      &kp L    &kp SEMICOLON
&mt LEFT_SHIFT Z  &kp X          &kp C           &kp V             &kp B        &kp LEFT_ALT    &kp RIGHT_ALT                    &kp N                   &kp M          &kp COMMA  &kp DOT  &mt RIGHT_SHIFT SLASH
&kp LEFT_SHIFT    &kp LCTRL      &lt 3 LEFT_ALT  &kp LEFT_COMMAND  &lt VIM SPACE  &kp LCTRL       &lt_to_layer_0 2 ENTER  &lt 1 BACKSPACE                                          &lt 6 DELETE
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        SYM {  // Layer 1 - 符號層（按住 BS）
            bindings = <
&kp SINGLE_QUOTE  &kp LESS_THAN  &kp GREATER_THAN     &kp DOUBLE_QUOTES  &kp CARET                      &kp PIPE        &kp AMPERSAND  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp PERCENT
&kp EXCLAMATION   &kp SLASH      &kp ASTRK            &kp BACKSLASH      &kp HASH   &trans      &trans  &kp MINUS       &kp EQUAL      &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp DOLLAR
&kp TILDE         &kp GRAVE      &namespace_operator   &arrow_operator    &kp AT_SIGN  &trans    &trans  &kp UNDERSCORE  &kp PLUS       &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp QUESTION
&trans            &trans         &trans               &trans             &trans       &trans    &trans  &trans                                                                      &trans
            >;

            sensor-bindings = <&scroll_right_left>;
        };

        NUM {  // Layer 2 - 數字層（按住 ENTER）
            bindings = <
&kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5                      &kp NUMBER_6  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp N0
&none         &trans        &trans        &trans        &trans        &trans     &trans   &trans        &trans        &trans        &trans        &trans
&kp F1        &kp F2        &kp F3        &kp F4        &kp F5        &kp F11    &kp F12  &kp F6        &kp F7        &kp F8        &kp F9        &kp F10
&trans        &trans        &trans        &trans        &trans        &trans     &trans   &trans                                                  &trans
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        MEDIA {  // Layer 3 - 媒體層（按住 ALT）
            bindings = <
&trans  &trans  &trans  &trans  &trans                          &trans      &trans      &trans             &trans           &trans
&trans  &trans  &trans  &trans  &trans  &trans    &kp C_BRI_UP  &kp C_PREV  &kp C_RW    &kp C_PLAY_PAUSE   &kp C_FF         &kp C_NEXT
&trans  &trans  &trans  &trans  &trans  &trans    &kp C_BRI_DN  &trans      &kp C_MUTE  &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans        &trans                                                      &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
        };

        MOUSE {  // Layer 4 - 軌跡球自動切換，G=左鍵、B=右鍵
            bindings = <
&trans  &trans  &trans  &trans  &trans                       &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &mkp MB1  &trans     &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &mkp MB2  &trans     &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans     &trans  &trans                          &trans
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        SCROLL {  // Layer 5 - 軌跡球捲輪模式
            bindings = <
&trans  &trans  &trans  &trans  &trans                    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans                          &trans
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        BLUETOOTH {  // Layer 6 - 藍牙（按住 DEL）
            bindings = <
&bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                                 &trans        &trans        &trans        &trans        &trans
&trans        &trans        &trans        &trans        &trans        &trans         &bt BT_CLR      &trans        &trans        &kp UP        &trans        &trans
&trans        &trans        &trans        &trans        &ind_bat      &bootloader    &bt BT_CLR_ALL  &trans        &kp LEFT      &kp DOWN      &kp RIGHT     &trans
&trans        &trans        &trans        &trans        &trans        &trans         &trans          &trans                                                  &trans
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        VIM {  // Layer 7 - 按住 Space，HJKL + Home/End/PgUp/PgDn
            bindings = <
&trans  &trans  &trans  &trans  &trans                    &kp HOME  &kp PAGE_DOWN  &kp PAGE_UP  &kp END    &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp LEFT  &kp DOWN       &kp UP       &kp RIGHT  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans    &trans         &trans       &trans     &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans                                            &trans
            >;

            sensor-bindings = <&scroll_up_down>;
        };

        DESKTOP {  // Layer 8 - 按住 W，macOS 桌面切換
            bindings = <
&trans  &trans  &trans  &trans  &trans                    &trans        &trans        &trans      &trans         &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp LC(LEFT)  &kp LC(DOWN)  &kp LC(UP)  &kp LC(RIGHT)  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans        &trans        &trans      &trans         &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans                                                 &trans
            >;

            sensor-bindings = <&scroll_up_down>;
        };
    };
};
